<hr>
<h4>Reviews</h4>
<div class = "review-container" *ngFor='let review of reviews'>
<div class = "inline-show"><p>{{review.reviewDesc}}</p>
<p>{{review.submitedBy}}</p></div>
<div class = "inline-show ">
<star-rating [value] = 'review.rating' checkedcolor="black" uncheckedcolor="white" size="24px"    readonly="true" (rate)="onRate($event)"></star-rating>
</div> 
</div >

<mat-action-row *ngIf = 'isAuth'>
        <button mat-raised-button  (click)="openDialog()" >Add Review</button>
</mat-action-row>