
<div class = "search-container">
<button mat-raised-button *ngIf = 'false'>Create Playlist</button>
<input  class = "search-bar" placeholder="Search for Songs.." type = "text"  [(ngModel)]='songSearchBy'> 
<button mat-raised-button *ngIf = 'false'>Upload new Song</button>
</div>


<div>  
<mat-accordion>

    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false"
                         *ngFor='let song of searchedSongs'>
      <mat-expansion-panel-header  >
        <mat-panel-title class="title">
          {{ song.songTitle }}
      

        </mat-panel-title>
        <mat-panel-description>
           
        </mat-panel-description>
      </mat-expansion-panel-header>
      <span><label>Album:</label>{{ song.album }}</span>
      <span><label>Artist:</label>{{ song.artist }}</span>
      <span><label>Year:</label>{{ song.year }}</span>
      <span><label>Genre:</label>{{ song.genre }}</span>
     
      <app-review [songId] = 'song.songId'></app-review>
     
    </mat-expansion-panel>
    
  </mat-accordion>
  
</div>
