<div class="search-container">
  <button mat-raised-button *ngIf='false'>Create Playlist</button>
  <input class="search-bar" placeholder="Search for Songs,Playlists.." type="text" [(ngModel)]='songSearchBy'>
  <button mat-raised-button *ngIf='false'>Upload new Song</button>
</div>

<mat-tab-group (selectedTabChange)="onPlaylistPanelSelected($event)">
  <mat-tab label="Songs">

    <div>
      <mat-accordion>

        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false"
          *ngFor='let song of searchedSongs'>
          <mat-expansion-panel-header>
            <mat-panel-title class="title">
              {{ song.songTitle }}
            </mat-panel-title>
            <mat-panel-description>

            </mat-panel-description>
          </mat-expansion-panel-header>
          <span><label>Album:</label>{{ song.album }}</span>
          <span><label>Artist:</label>{{ song.artist }}</span>
          <span><label>Year:</label>{{ song.year }}</span>
          <span><label>Genre:</label>{{ song.genre }}</span>

          <app-review [songId]='song.songId'></app-review>

        </mat-expansion-panel>

      </mat-accordion>
    </div>
  </mat-tab>
  <mat-tab label="Playlist"> 
    <mat-card  *ngFor='let playlist of playlists' (click) = "showPlaylistDialog($event,playlist.listId)">
      <mat-card-title class= 'title'>{{playlist.listTitle}}</mat-card-title>
      <mat-card-subtitle>{{playlist.listDesc}}</mat-card-subtitle>
      <mat-card-content>
      <span><label>Songs#</label> {{playlist.songs.length}}</span>
      <span><label>Created By:</label>{{ playlist.createdBy}}</span>   
    </mat-card-content>  
    </mat-card>
  </mat-tab>
</mat-tab-group>