<div class="container">
 
  <input class="search-bar" placeholder="Search for Songs,Playlists.." type="text" [(ngModel)]='songSearchBy'>
  
</div>

<mat-tab-group (selectedTabChange)="onPlaylistPanelSelected($event)">
  <mat-tab label="Songs">
    <div class="container"> 
    <button mat-raised-button class = "song-upload-button" *ngIf='isAuth' (click) = "showAddSongDialog()">Upload new Song</button>
    </div>
    <div>
      <mat-accordion>

        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false"
          *ngFor='let song of searchedSongs'>
          <mat-expansion-panel-header>
            <mat-panel-title class="title">
              {{ song.songTitle }}
            </mat-panel-title>
            <mat-panel-description>

            </mat-panel-description>
          </mat-expansion-panel-header>
          <span><label>Album:</label>{{ song.album }}</span>
          <span><label>Artist:</label>{{ song.artist }}</span>
          <span><label>Year:</label>{{ song.year }}</span>
          <span><label>Genre:</label>{{ song.genre }}</span>
          <button mat-raised-button *ngIf='isAuth' (click)="openBottomSheet(song.songId)">Add to Playlist</button>
          <app-review [songId]='song.songId'  [isAuth]='isAuth'></app-review>

        </mat-expansion-panel>

      </mat-accordion>
    </div>
  </mat-tab>
  <mat-tab label="Playlist"> 
      <div class="container"> 
      <button mat-raised-button class = "song-upload-button" *ngIf='isAuth' (click) = "showCreatePlaylistDialog('create',null)">Create Playlist</button>
      </div>
     
    <mat-card  *ngFor='let playlist of playlists' >
      <div class = "card-container" (click) = "showPlaylistDialog($event,playlist.listId)"><mat-card-title class= 'title'>{{playlist.listTitle}}</mat-card-title>
      <mat-card-subtitle>{{playlist.listDesc}}</mat-card-subtitle>
      <mat-card-content>
      <span><label>Songs#</label> {{playlist.songs.length}}</span>
      <span><label>Created By:</label>{{ playlist.createdBy}}</span>   
    </mat-card-content>  </div>
    <mat-card-actions>
      <button mat-raised-button *ngIf='isAuth' (click) = "showCreatePlaylistDialog('edit',playlist.listId)">Edit</button>
      <button mat-raised-button *ngIf='playlist.visibility' (click) = "togglePlaylistVisibility('hide',playlist.listId)">Hide Playlist</button>
      <button mat-raised-button *ngIf='!playlist.visibility' (click) = "togglePlaylistVisibility('show',playlist.listId)">Show Playlist</button>
    </mat-card-actions>
    </mat-card>
  </mat-tab>
</mat-tab-group>