<!-- <div class="toolbar" role="banner">

  <h3>My Music App</h3>
  <div class="spacer"></div>
  <ul>
    <li><a href="#home">Sign in</a></li>

    <li><a href="#about">Sign up</a></li>
  </ul>
</div> -->
<mat-toolbar color="primary">
  <span>My Music</span>

  <!-- This fills the remaining space of the current row -->
  <span class="example-fill-remaining-space"></span>

  <span class = "navbar"><ul>
    <li><a href="#home">Sign in</a></li>

    <li><a href="#about">Sign up</a></li>
  </ul></span>
</mat-toolbar>
<section>
  <div class="container_style">

    <h1>Live the Song!</h1>
    <a routerLink='/songsList'>
    <button mat-raised-button class = " button_style">Click me!</button>
    </a>
  </div>
</section>




<router-outlet></router-outlet>