.container_style{
    position: relative;
    border:1px solid black;
    font-size: 20px;
    text-align: center;
    width:50%;
    float: center;
    margin: auto;
}

  .button_style {
    padding: 16px 40px 16px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    background-color:  #1DB955;; 
    border-radius: 400px;
    letter-spacing: 2px;
    border: 1px solid #1DB955;
    color:white;
}

.button_style:hover {
    background-color: #1ED759;
    box-shadow: 3px 3px 10px #8888;
    color: white;
}
